<h2>Customer Management System </h2>
<h3 style="text-align:center; color:rgb(14, 14, 0); font-size: 30px; background: rgb(239, 228, 9)">View Customer details</h3>
<div class="nav-container">
  <ul class="nav-item">
    <li>
      <a class="nav-link" routerLink="/add" routerLinkActive="active">Add Customer</a>
    </li>   
  </ul>
</div>

<div class="container-fluid"> 
 

<table class="table mt-4 table-striped table-bordered ">
    <thead>
      <tr>
        <!-- <th scope="col">Cid</th> -->
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Action</th>        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of  myemployee">
        <!-- <th >{{user.id}}</th> -->
        <th >{{user.name}}</th>
        <th >{{user.email}}</th>
        <th >{{user.phone}}</th>
        <td>
            <i (click)="updateuser(user)" routerLink="/edit/update/{{user.id}}" style="color:blue;"class="fa fa-edit"></i> &nbsp;
            <i (click)="deleteuser(user)" style="color:red;"class="fa fa-trash"></i>

        </td>
      </tr>
     
     
    </tbody>
  </table>
</div>

<div class="logout-button">
  <a href="javascript:void(0);" onclick="logout()" style="padding-right: 10px;">Logout</a>
</div>

<script>
  function logout() {
    // Clear session storage
    sessionStorage.clear();
    
    // Redirect to the home page
    window.location.href = "/";
  }
</script>

<!---spinner-->
<div *ngIf="!loading"> 
  <h1 class="text-center text-primary mt-3">Please do wait data is been loading!!!</h1>
   <app-spinner> </app-spinner>
  </div>


