<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Management System</title>
    <link rel="stylesheet" href="signup.component.css">
</head>

<body>
    <h2>Customer Management System</h2>

    <div style="padding:40px">

    <div style="max-width: 350px; margin: auto; padding: 10px; border: 1px solid #060000; border-radius: 5px;">
        <p></p>
        <h3 style="text-align: center; font-size:large"><b>Signup</b></h3>

        <form class="text-center" [formGroup]="createuser" (ngSubmit)="onSubmit(createuser)">
            <div style="margin-bottom: 10px;">
                <label for="Username">Username:</label>
                <input type="text" id="Username" formControlName="username" required style="width: 100%; padding: 8px;">
            </div>
            <div style="margin-bottom: 10px;">
                <label for="Email">Email:</label>
                <input type="email" id="Email" formControlName="email" required style="width: 100%; padding: 8px;">
            </div>
            <div style="margin-bottom: 10px;">
                <label for="Password">Password:</label>
                <input type="password" id="Password" formControlName="password" required style="width: 100%; padding: 8px;">
            </div>

            <button style="margin-bottom: 10px;" type="submit">Submit</button>
            <p style="text-align: center;color:rgb(1, 1, 19); margin-top: 10px;">Already have an account? <a href="/login">Login </a> &nbsp;here</p>

        </form>

    </div>
    </div>
    <script src="home.component.js"></script>
    <router-outlet></router-outlet>

</body>
</html>