body {
  margin: 0;
  padding: 0;
  background-image: url('i1.webp'); /* Replace with the actual path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  color: #050000;
  padding: 10px;
  text-align: center;
}


img {
  height: auto;
  max-width: 100%; /* Ensure the image doesn't exceed its container width */
  height: auto; /* Maintain the aspect ratio of the image */
  display: block; /* Remove any default inline spacing */
  margin: 20px 0; /* Add margin above and below the image */
  border-radius: 8px; /* Optionally add border-radius for rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optionally add a subtle box shadow */
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* dashboard.component.css */

.dashboard-content {
  text-align: center; /* Center-align the text within the section */
  margin-top: 50px; /* Add some top margin for spacing */
}

.dashboard-content p {
  max-width: 700px; /* Set a maximum width for the paragraph */
  margin: 0 auto; /* Center the paragraph horizontally using auto margins */
  line-height: 2; /* Adjust line height for better readability */
  color: #000000;
  background-color: rgb(95, 146, 216);
  font-size: medium;
}

h2 {
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin: 0;
  text-align: center;
}

.button-container {
  margin-top: 20px;
}

.button-container a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #717a86;
  color: #fff;
  border-radius: 5px;
  margin-right: 10px;
}

.logout-button {
  margin-top: auto; /* Push the button to the bottom */
  position: absolute;
  top: 10px;
  right: 30px;
  background-color: rgb(255, 255, 255);
  font-size: large;
}