<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customer Management Dashboard</title>
  <link rel="stylesheet" href="dashboard.component.css">

</head>

<body>
  <header>
    <h1>Welcome to the Customer Management Dashboard</h1>
      
        <a href="/view">Customers List</a> &nbsp; <a href="/add">Add Customer</a>
   </header>

   <section class="dashboard-content">
    <p>
      This is the Customer Management Dashboard. Manage your customer information, <br>view the list of customers,
      and add new customers to the system. <br> Explore the features and enhance your customer relationship management.
    </p>
  </section>
    
  <footer>
    <p>&copy; 2024 Customer Management Dashboard. All rights reserved.</p>
  </footer>

</body>

</html>
