<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customer Management System</title>
  <link rel="stylesheet" href="home.component.css">
</head>

<body>
    <div class="home-container">
      <h2>Customer Management System
      </h2>
      
      <section class="system-information">
        <h3 style="padding: 10px;"><b>About Our System</b></h3>
        <p>
          Our Customer Management System provides a comprehensive platform for managing and maintaining customer
          relationships.<br> It streamlines your business processes, enhances customer satisfaction, and drives growth.
        </p>
      </section>

      <img src="https://www.smartsource.com.sg/assets/img/client-management.jpg" alt="System Image">

      <section class="contact-info">
        <h3><b>Contact Us</b></h3>
        <p>
          Have questions or need assistance? Reach out to our support team.<br>
          Email: support@customer.com<br>
          Phone: +91 (987) 456-7890
        </p>
      </section>

 </div>

    <div class="signup-button">
      <a href="signup" style="padding-right: 10px;">Signup</a>
    </div>

</body>
</html>
